
.LoginForm {
    padding: 10px;
    margin: 30px auto auto;
    width: 500px;
}

.CenterContent {
    text-align: center;
}

@media (min-width: 600px) {
    .ContactDataContainer {
        width: 500px;
    }
}