
.LoginForm {
    padding: 20px;
    margin: 30px auto auto;
    width: 500px;
    border: 1px solid black;
    background-color: white;
}

.CenterContent {
    text-align: center;
}

@media (min-width: 600px) {
    .ContactDataContainer {
        width: 500px;
    }
}