.main-form {
    width: 1100px;
}

.mode1 {
    display: block;
}

.mode2 {
    display: none;
}


/*@media (max-width: 991px) {*/
/*    .mode1 {*/
/*        display: none;*/
/*    }*/

/*    .mode2 {*/
/*        display: block;*/
/*    }*/

/*}*/


@media (min-width: 768px) and (max-width: 1242px) {
    .main-form {
        width: 720px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {

    .main-form {
        width: 375px;
    }

}

@media (min-width: 321px) and (max-width: 480px) {

    .main-form {
        width: 300px;
    }
}


@media (min-width: 259px) and (max-width: 320px) {
    .main-form {
        width: 250px;
    }
}

@media (max-width: 258px) {
    .main-form {
        width: 200px;
    }
}

