

.color1 {
    background-color: #ADF2A4;
}
.color2 {
    background-color: #EF626C;
}
.color3 {
    background-color: #561E54;
}
.color4 {
    background-color: #F4EFF0;
}
.color5 {
    background-color: #F4EFF0;
}