

.color1 {
    background-color: #C4F1BE;
}
.color2 {
    background-color: #8B1E3F;
}
.color3 {
    background-color: #3C153B;
}
.color4 {
    background-color: #9D6381;
}
.color5 {
    background-color: #E5BEED;
}